/**
 * Во имя Отца и Сына и Святаго Духа. Аминь.
 *
 * @format
 */

/* четверг, 17 августа 2023 г. 21:12:21 (MS */

body{
margin:3em;
}

.markdown-body{

	min-width: 77%;
	max-width:44%;
	margin:auto;
	
}

.click {
	cursor: pointer;
	position: fixed;
	display: flex;
	background-color: #e34234;
	top: 5vw;
	right: 5vw;
	width: 6vw;
	height: 6vw;
	/* border-radius: 50%; */
	box-shadow: 0px 0px 7px #0004;
	align-items: center;
	justify-content: center;
	font-size: 3.7vw;
	/* flex-wrap: wrap; */
}

.last-easter {
	color: #e34234;
	font-size: 1.3rem;
}

.easter {
	color: #fff;
	font-size: clamp(1em, 3vw, 1.7em);
	background: rgb(227, 66, 52);
	background: linear-gradient(
		270deg,
		rgba(227, 66, 52, 1) 0%,
		rgba(54, 4, 0, 1) 100%
	);
	padding: 2%;
	box-shadow: 0px 0px 7px #0007;
}

@media (max-width: 800px) {

	.easter {
		font-size: clamp(1em, 3vw, 1.7em);
	width:fit-content;
	}
	.markdown-body{

	min-width: fit-content;

	}
}
