/**
 * Во имя Отца и Сына и Святаго Духа. Аминь.
 *
 * @format
 */
/* 
 Tue May 21 11:09:17 MSK 2024
*/
/* template greed */
/*///////////////////////////////////*/
/* @import url('template-greed-ystm.css'); */
/*///////////////////////////////////*/

/* @font-face {
	font-family: "Fontics";
	font-display: auto;
	src: local("Fontics-Regular.otf"),
		url("https://fonts.a374.ru/Fontics-Regular.otf");
	font-weight: normal;
	font-style: normal;
} */
@font-face {
	font-family: 'Irmologion';
	font-display: auto;
	/* src: url('../font/IrmUcs.ttf'); */
	/* src: url('../font/Clunya-IrmIEUcs.otf'); */
	src:
		local('Clunya-IrmIEUcs'),
		url('https://fonts.a374.ru/Clunya-IrmIEUcs.otf');
	font-weight: normal;
	font-style: normal;
}

body {
	/* обязательное свойство */
	margin: 0;
	height: 100vh;
	/* background-image: url('https://img.a374.ru/svg/orthodox-field.svg'); */
	/* background-image: linear-gradient(to right,
			#ffe5f4,
			#fdeaf8,
			#fceffc,
				#fbf4fe,
				#fcf9ff,
				#fafbff,
				#fafdff,
				#fbfeff,
				#f5feff,
				#eefeff,
				#e8ffff,
			#e2fffd);
				*/
}

header {
	height: auto;
	top: 0;
	position: sticky;
	z-index: 333;
}
p {
	padding: 0 12px;
	font-size: 1.3rem;
}

.badge {
	font-size: 1em;
	color: #ffffffd9;
	padding: 7px;
	border-radius: 4px;
	border: 0.5px double #a75a5a;
	line-height: 180%;
	margin: 0 0.5rem;
	background-color: #e34234;
	white-space: nowrap;
	box-shadow: 0px 0px 4px #0003;
	overflow-x: hidden;
	/* text-overflow: ellipsis; */
}

.badge:hover {
	/* color: #eee7e699; */
	background-color: #000000;
	/* box-shadow: 0px 2px 3px #0008 inset;
	border: 1px double #0003; */
}

.badge-link {
	/* color: #fca9a9; */
	font-size: 0.7em;
}

.badge-link::after {
	font-family: Irmologion;
	display: flex;
	/* justify-content: flex-end; */
	content: 'КанHнъ с™hz пaсхи.';
	color: #996800;
	font-size: 0.7em;
}

.easter {
	color: #fff;
	opacity: 0.88;
	font-size: clamp(1em, 9vw, 1.7em);
	background: rgb(227, 66, 52);
	background: linear-gradient(
		270deg,
		rgba(227, 66, 52, 1) 0%,
		rgba(54, 4, 0, 1) 100%
	);
	padding: 3% 3% 3% 7%;
	box-shadow: 0px 0px 7px #0007;
	border-radius: 7px;
	/* Animation selector */
}

.article-set {
	margin: auto;
	max-width: 800px;
	font-size: x-large;
}

.clickXB {
	position: sticky;
	cursor: pointer;
	background-color: #ffc1bb55;
	color: #e3423422;
	float: right;
	top: 23dvh;
	right: 5vw;
	padding: 0.5em;
	/*	width: 9%;*/
	/*	height: 3em;*/
	/* border-radius: 50%; */
	/* box-shadow   : 0px 0px 3px #0007; */
	align-items: center;
	justify-content: center;
	font-size: 2.7vw;
	/* color: #ffffff; */
	/* flex-wrap    : wrap; */
	border-radius: 50%;
	border-color: #0000;
	overflow: hidden;
	z-index: 333;
}

button.clickXB:hover {
	color: #fbffa9;
	background-color: #e34234;
	box-shadow: 0px 0px 11px #ffe500;
}

li {
	list-style: none;
	font-size: 1.2em;
	color: rgb(91, 91, 91);
}

h1 {
	font-weight: 800;
	padding: 0px 12px;
}

a,
a:visited {
	text-decoration: none;
	color: rgb(153, 114, 114);
}

a:hover {
	color: #d3996c;
}

.last-easter {
	color: #e34234bd;
	box-shadow: #0007 0px 0px 77px;
	/* font-size: 0.8lh; */
	/* padding: 2% 2% 2% 3vw; */
}

.copyright {
	font-size: larger;
	text-align: right;
	color: rgba(255, 255, 245, 0.399);
}

.top-menu-title {
	color: #fbffa9;
}

.general-properties {
	display: flex;
	justify-content: space-between;
	background-color: #e34234;
	padding: 14px;
	box-shadow: 0px 5px 20px 12px #0007;
	backdrop-filter: blur(12px);
}
@media (orientation: landscape) {
	.clickXB {
		background-color: #e34234;
		top: 53dvh;
	}
	}

@media (max-width: 799px) {
	.easter {
		max-width: 50vw;
	}
	.top-menu > a {
		font-size: large;
	}

	p {
		font-size: x-large;
	}

	.copyright {
		text-align: center;
	}

	.general-properties {
		background-color: #ceaeab;
		/* opacity: .9; */
	}

	
}

@media (max-width: 526px) {
	.clickXB {
		background-color: #e34234;
		top: 25dvh;
	}
	.last-easter {
		box-shadow: none;
		/* font-size: 1.1em; */
		padding: 0;
	}

	.linkTop {
		font-size: 12px;
	}

	.easter {
		width: 80%;
	}

	p {
		font-size: 1.3em;
	}

	MAIN {
		gap: 2px;
	}

	.badge {
		margin: 0px 0.2em;
		font-size: 16px;
	}

	.top-menu {
		justify-content: center;
	}

	.top-menu-title {
		display: none;
	}

	.article-set {
		font-size: large;
	}
}

.pulse {
	-webkit-animation-name: pulse;
	animation-name: pulse;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	50% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05);
		transform: scale3d(1.05, 1.05, 1.05);
	}

	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes pulse {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	50% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05);
		transform: scale3d(1.05, 1.05, 1.05);
	}

	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
