/**
 * Во имя Отца и Сына и Святаго Духа. Аминь.
 *
 * @format
 */

/* четверг, 17 августа 2023 г. 21:12:21 (MS */

body {
	margin: 0;
	height: 100vh;
	background-image: url('https://img.a374.ru/svg/orthodox-field.svg');
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;		
}


main {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
}

section {
	margin: 0 2em 10em;
}
.one {
	display: flex;
	flex-direction: column;
	align-content: center;
	max-width: 800px;
	/* min-width: 97%; */
	margin: auto;
	align-items: flex-start;
}

.clickXB {
	cursor: pointer;
	display: flex;
	position: fixed;
	background-color: #fe34230f;
	top: 5vw;
	right: 5vw;
	width: 3em;
	height: 3em;
	/* border-radius: 50%; */
	/* box-shadow: 0px 0px 3px #0007; */
	align-items: center;
	justify-content: center;
	font-size: 2.7vw;
	color: #ffffff;
	/* flex-wrap: wrap; */
	border-radius: 50%;
	border-color: #0000;
}

button.clickXB:hover {
	color: #fbffa9;
	background-color: #e34234;
	box-shadow: 0px 0px 11px #ffe500;
}

li {
	list-style: none;
	font-size: 1.2em;
	color: rgb(91, 91, 91);
}
h1 {
	font-weight: 800;
}
p {
	font-size: 1.1rem;
	color: #935b00;
}

a {
	text-decoration: none;
	color: blueviolet;
}

a:hover {
	color: #e34234;
}

.last-easter {
	color: #e34234;
	font-size: 1.3rem;
}

.easter {
	color: #fff;
	opacity: .88;
	font-size: clamp(1em, 3vw, 1.7em);
	background: rgb(227, 66, 52);
	background: linear-gradient(
		270deg,
		rgba(227, 66, 52, 1) 0%,
		rgba(54, 4, 0, 1) 100%
	);
	padding: 11% 10%;
	box-shadow: 0px 0px 7px #0007;
	
	/* Animation selector */
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes pulse {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  50% {
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  }
  @keyframes pulse {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  50% {
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
}

@media (max-width: 800px) {
	.easter {
		font-size: clamp(1.4em, 2vw, 2.2em);
		/* width: fit-content;
		margin-right: 3em;
		padding: 12px; */
	}

	body{
background-image: linear-gradient(to right bottom, #ffffff, #f6f7ff, #e8f0ff, #d6ebff, #c1e6ff);
	}
	.clickXB {
		background-color: #e34234;
		width: 4em;
		height: 4em;
	}
	h1 {
		font-size: x-large;
	}
	p {
		font-size: large;
	}
}
