/** @format */

/* 

		TODO: НИЧЕГО НЕ РЕДАКТИРОВАТЬ В ДАННОМ ШАБЛОНЕ
		 ТОЛЬКО ЕСЛИ ЗАКОМЕНТИРОВАТЬ И РАСКОММЕНТИРОВАТЬ !

		////////////////////////////////////////////////////////////////
		 --- ПРИ НОВОЙ ИИЦИАЛИЗАЦИИ ВСЕ СВОЙСТВА РАСКОММЕНТИРУЙТЕЕ ---
		////////////////////////////////////////////////////////////////

 */

body {
	/* Заменяем дефолтноые свойства на нули.
	!!! Чтобы не было отступов по краям страницы */
	margin: 0;
	height: 100vh;
	/* Фоновое изо в формате  SVG */
	/* background-color: #fff0cf; */

	/* background-image: url(bg.svg); */
	/* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100%25' height='100%25'%3E%3Cdefs%3E%3Cpattern id='p' width='25px' height='25px' patternUnits='userSpaceOnUse' patternTransform='scale(1.08)'%3E%3Cpath id='a' data-color='fill' fill='none' stroke='%23FAFAFA' stroke-width='2.01' d='M50 50h50v50H50zM0 0h50v50H0z'%3E%3C/path%3E%3Cuse xlink:href='%23a' x='50' y='-50'%3E%3C/use%3E%3Cuse xlink:href='%23a' x='-50' y='50'%3E%3C/use%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23p)' width='100%25' height='100%25'%3E%3C/rect%3E%3C/svg%3E"); */
	/* background-size: cover; */
	/* background-position: center; */
	/* background-repeat: no-repeat; */

	/* Функция `clamp()`  управляет масштабом текста при ресайзинге окна браузера (вьюпорта - зона видимости) */
	/* font-size: clamp(1.1em, 2vw, 2.5rem); */

}

MAIN {
	/*
    Объявление `MAIN ` сеткой.
    Сетка  станет шаблоном, состоящим из строк, столбиков и треков. */
	display: grid;

	/*
    Расстояние для горизонтальных и вертикальных ТРЕКов между ячейками сетки, они же ГАПЫ */
	gap: 17px;

	/*
    Высота `MAIN`.
    Без этого параметра  `FOOTER` не будет прижат к низу страницы. 
    !!! Это свойство, обычно определяется в `body` элементе с аргументом `100%`, но в случае с 
    `grid` это не работает правильно.
    Возникает проблема совместимости браузеров и заголовка `!DOCTYPE`.
    */
	height: 100vh;

	/*
    !!!! Важная строка для определения шаблона – должна быть всегда.
    В ней определен самый важный параметр  – `1fr`.
    На странице этот `1fr` будет отображен белым пространством до футера.
    YSTM-333.
    Количество и размер строк / количество и размер столбиков */
	grid-template: auto auto 1fr / auto auto auto;

	/*
      Переопределяем размеры для СТОЛБИКОВ вместо трех параметров `auto` заданных чуть выше.*/
	grid-template-columns: 0.1fr 1fr 0.3fr;

	/* ОПРЕДЕЛЯЕМ СХЕМУ шаблона.
    В СХЕМЕ одной литерой, -  обозначено место,
    которое займет элемент, который будет далее связан с этой литерой . */
	grid-template-areas:
		/* занимает  три столбика (места),  в каждой из четырех строк
  
      Пример записи схемы шаблона-grid на одной строке:
  
      "h h h"   "n S a"   ". . ."   "f f f" ;
      */
		"h  h  h"
		"n  S  a"
		/* далее идет пустая строка шаблона. Её параметры заданы в YSTM-3333  и это `1fr` . Попробуте поставить только вместо средней точки литеру `S` и просмотрите изменения в браузере. */
		"cont cont cont"
		".   .   ."
		/* !!! …эта строка никак не связана с элементами, но прописана здесь обязательно для вертикальной растяжки страницы .  
    */
		"f  f  f";
}

.general-properties {
	background-color: #51137d33;
	/* border: 16px dashed #ffffff99; */
	padding: 14px;
}

HEADER {
	height: 77px;
	/* Определение литеры для текущего элемента */
	grid-area: h;
}

NAV {
	/* Определение литеры для текущего элемента */
	grid-area: n;
}

ASIDE {
	/* Определение литеры для текущего элемента */
	grid-area: a;
}

MAIN {
	/* Определение литеры для текущего элемента */
	grid-area: S;
}

ARTICLE {
	grid-area: cont;
	margin: 0 1vw;
	padding: 0px 3vw;
	color: darkslategrey;
	/* border: 11px dashed aliceblue; */
}

ARTICLE i {
	color: brown;
}

FOOTER {
	/* Определение литеры для текущего элемента */
	grid-area: f;
	/* Размер футора НЕ был ЗАДАН в YSTM-3333 и имеет значениее `auto`. Это нужно для того, чтобы можно было задавать размер футера  здесь… Футор толкается вниз пустой строкой шаблона ( ". . .") ,  с размером `1fr`. */
	/*   min-height: 33px; */
}

@media (max-width: 525px) {
	MAIN {
		/* Новое определение шаблона GRID для мини экранчиков */
		grid-template: "h" "n" "M" "a" "cont" "." "f" / 1fr;
		align-content: auto;
	}

	header {
		margin-bottom: 0px;
	}
}

/*
  PS:
  Сетка GRID не универсальна,
  всегда требуется дополнительная настройка зависимых от  статических размеров и трансформаций элементов свойств `padding` и `margin`.
  
  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
  И если какой то из свойств сетки `grid` не задан, значит он имеет значение по умолчанию `auto`.
  
  */

code {
	color: #00000088;
}